* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: blue;
    height: 100vh;
}

#sobre {
    background-color: #E9E9E9;
    height: 633px;
    display: flex;
}
    .titulo-inicial{
         font-size: 48px;
         font-family: Barlow;
        color-scheme: #121212;
 }
   .paragrafo-grande{
        text-align: center;
        font-size: 16px;
        font-family: Inter;
        color-scheme: #000;
        padding: 5px;
        display: inline-block; 
 }
    .porcentagem{
        font-family: Barlow;
        display: flex; 
        margin-right: 100px;
}
    .anos-atendidos{
        font-family: Barlow;
        display: flex;
        margin-right: 100px;
}
    .clintes-atendidos{
        font-family: Barlow;
        display: flex; 
        margin-right: 100px;
    }

#precos {
    background-color: red;
    height: 100vh;
}

#galeria {
    background-color: blueviolet;
    height: 574px;
}

#localizacao {
    background-color: yellow;
    height: 741px;
}

#info {
    background-color: green;
    height: 640px;
}

footer {
    background-color: black;
    height: 59px;
}