* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: blue;
    height: 100vh;
}

#sobre {
    background-color: aqua;
    height: 633px;
}

#precos {
    background-color: red;
    height: 100vh;
}

#galeria {
    background-color: blueviolet;
    height: 574px;
}

#localizacao {
    background-color: yellow;
    height: 741px;
}

#info {
    background-color: green;
    height: 640px;
}

footer {
    background-color: black;
    height: 59px;
}