@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-image: url(./img/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 35px;
}


.logo {
    width: 120px;
    height: 120px;
}

.nav-add {
    text-decoration: none;
    color: #977656;
    font-family: "Inter", sans-serif;
    font-size: 12px;

}

.nav-desable {
    color: #F2DAC2;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}

.btn-cntt {
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: #fff;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s;

}

.btn-cntt:hover {
    transform: scale(1.1);
    background-color: transparent;
    border: 1px solid #977656;
    color: #fff;
}

.title-barber {
    font-family: "Karantina", system-ui;
    color: #F2DAC2;
    font-size: 64px;
    word-spacing: 2px;
    letter-spacing: 5px;

}

.padding-tittle {
    padding: 30px;
    margin-top: 40px;

}

.paragrafo-barber {
    color: #896C4F;
    font-size: 40px;
    font-family: "Karantina", system-ui;
}

.paragrafo1-barber {
    color: #F2DAC2;
    font-size: 16px;
}


.btns {
    margin-top: 30px;
    gap: 20px;
    display: flex;

}

.saiba-mais {
    width: 100px;
    height: 55px;
    border: none;
    color: white;
    font-size: 12px;
    background-color: #977656;
    text-decoration: none;
    transition: opacity 0.3s;

}

.servicos {
    width: 100px;
    height: 55px;
    border: 1px solid #977656;
    color: #977656;
    background-color: transparent;
    font-size: 12px;
    transition: opacity 0.3s;
}

.servicos:hover {
    transform: scale(1.1);
}

.saiba-mais:hover {
    transform: scale(1.1);
}

.text-saiba-mais {
    text-decoration: none;
    color: white;
}

.text-servicos {
    text-decoration: none;
    color: #977656;
}



#sobre {
    background-color: #E9E9E9;
    padding: 100px;
    height: 633px;
    display: flex;
    justify-content: center;

}

.container-global {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.container-text {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.container-sobre {
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.container-box {
    display: flex;
    gap: 80px;
    font-weight: 900;
    color: #121212;
    font-family: "Barlow", sans-serif;
}

.titulo-inicial {
    font-size: 48px;
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    color: #121212;
}

.paragrafo-grande {
    width: 542px;
    font-size: 16px;
    font-family: Inter;
    color-scheme: #000;
}

.imagem-barba {
    width: 628px;
    height: 446px;
    border-radius: 3px;
}

.text-number {
    font-size: 48px;
    font-weight: bold;
}

#precos {
    background-image: url(./img/Imagem2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    color: white;
    height: 100vh;
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
}

.container-service {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 70vw;
}

.service-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.title-service-custom {
    font-size: 25px;
    font-weight: 500;
}

.container-service-global {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.title-service-content {
    font-weight: 700;
    font-style: italic;
}

.link-service {
    color: white;
}



#galeria {
    background-color: #2c2c2c;
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;

}

.container-geral {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.container-titulo-inicial {
    color: #121212;
    text-align: center;

}

.conteiner-img2 {
    display: flex;
    gap: 30px;

}

.text-titulo {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    color: white;
    font-style: italic;




}

.imagem-box {
    width: 200px;
    height: 200px;
    border-radius: 3;
}

.imagem-box2 {
    width: 200px;
    height: 200px;
    border-radius: 3;
}

.container-box-geral {
    display: flex;

}

.imagem-box3 {
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

.imagem-box4 {
    width: 200px;
    height: 200px;
    border-radius: 3px;
}

.container-img3 {
    display: flex;
    gap: 30px;
}

.box-geral-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.container-imagem {
    padding: 10px;
}

*/ .photo-section,
.video-section {
    display: none;
}

.active {
    display: grid;
}

.photo-section {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    overflow: hidden;
    flex-wrap: wrap;
}

.photo-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 30%;
}

.photo-column img {
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.164);
    object-fit: cover;
}



.container-geral {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-titulo-inicial {
    text-align: center;
    margin-bottom: 20px;
}

.text-titulo {
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .photo-section {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-top: 20px;
        overflow: hidden;
        flex-wrap: wrap;
    }


    @media (max-width: 768px) {
        .photo-section {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            margin-top: 20px;
            overflow: hidden;
            flex-wrap: wrap;
        }

      
    }
}






#localizacao {
    background-color: #fff;
    height: 741px;
    padding: 30px;
}

.container-loc {

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.texto-inicial {
    color: #121212;
    text-align: center;
}

.text-localizacao {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
}

.text-loc {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.edit-loc {
    width: 100%;
    height: 466px;
    text-align: center;

}








#info {
    padding: 20px;
    background-color: #f0f0f0;
}

.container-global-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title-info h1 {
    font-size: 1.8rem;
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}

.highlight-red {
    color: red;
}

.highlight-blue {
    color: #293CA1;
}

.container-info-card {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}


.card-info {
    background-color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 30px);
    /* Ajusta o tamanho dos cards */
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-info h2 {
    font-size: 1.4rem;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.card-info p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}


.container-fale {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-link {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.info-link:hover {
    color: #007bff;
}


.icon-whatsapp {
    color: #04f000;
}

.icon-instagram {
    color: #a32481;
}

.icon-envelope {
    color: #174fb0;
}


@media (max-width: 768px) {
    .card-info {
        width: calc(50% - 30px);
        /* Ajusta o tamanho dos cards para telas menores */
    }
}



@media (max-width: 480px) {
    .card-info {
        width: 100%;
        /* Cards ocupam toda a largura em telas muito pequenas */
    }

    .img-modal {
        width: 50% !important;
        height: 40% !important;
    }

    .div-avali {
        display: flex;
        justify-content: center;
        gap: 20px;

    }
    .img-ccard{
        width: 40vw;
      }

   

    .tarde-btn{
        font-size: 12px;
        color: white;
        text-decoration: none;
        font-weight: 600;
        background-color: black;
        border: none;
        height: 5vh !important;
        text-align: center;
        align-items: center;
    display: flex;
    justify-content: center;
        width: 20vw;
        border-radius: 5px;
    }

    .avaliar-btn {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        background-color: transparent;
        border: none;
        height: 5vh !important;
        text-align: center;
        align-items: center;
    display: flex;
    justify-content: center;
        width: 20vw;
        border: 2px solid yellow;
        border-radius: 5px;

    }


}


footer {
    background-color: #1D1D1D;
    height: 59px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-name {

    color: white;
    margin: 0;

}

.btn-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 101;
}

.btn-whatsapp img {
    max-width: 60px;
    transition: transform 0.4s;
}

.btn-whatsapp img:hover {
    transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background-color: #232224;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s;
}

.btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .img-ccard{
        width: 40vw !important;
      }

      #avaliacoes {
        padding: 20px;
     height: 100vh;
     background: linear-gradient(60deg, #ffffff, #e6e6e6);
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     text-align: center;
    }
    


    .btn-cntt,
    .btns,
    .saiba-mais,
    .servicos {
        width: 100%;
        height: auto;
        font-size: 14px;
    }

    .title-barber {
        font-size: 48px;
    }

    .paragrafo-barber {
        font-size: 24px;
    }

    .paragrafo1-barber {
        font-size: 14px;
    }

    .container-global,
    .container-text,
    .container-sobre,
    .container-box,
    .container-service,
    .service-content,
    .container-service-global,
    .container-geral,
    .conteiner-img2,
    .container-img3,
    .box-geral-img,
    .container-box-geral,
    .container-loc,
    .container-info-card,
    .container-global-info,
    .container-fale,
    .card-info-cont {
        flex-direction: column;
        gap: 20px;
    }

    .imagem-barba,
    .box-imagem,
    .imagem-box,
    .imagem-box2,
    .imagem-box3,
    .imagem-box4 {
        width: 100%;
        height: auto;
    }

    .title-service-custom {
        font-size: 18px;
    }

    .titulo-inicial {
        font-size: 32px;
    }

    .paragrafo-grande {
        width: 100%;
    }

    .container-fale,
    .card-info-cont {
        font-size: 14px;
    }

    #precos,
    #sobre,
    #galeria,
    #localizacao,
    #info {
        padding: 20px;
        height: auto;
    }

    .btn-whatsapp {
        bottom: 10px;
        right: 10px;
    }

    .btn-whatsapp img {
        max-width: 40px;
    }

    footer {
        height: 50px;
    }

    .footer-name {
        font-size: 12px;
    }
}

@media (max-width: 670px) {

    .btn-cntt,
    .btns,
    .saiba-mais,
    .servicos {
        font-size: 12px;
    }

    .title-barber {
        font-size: 36px;
    }

    .paragrafo-barber {
        font-size: 20px;
    }

    .paragrafo1-barber {
        font-size: 12px;
    }

    .container-global {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
   
    

    .container-text,
    .container-sobre,
    .container-box,
    .container-service,
    .service-content,
    .container-service-global,
    .container-geral,
    .conteiner-img2,
    .container-img3,
    .box-geral-img,
    .container-box-geral,
    .container-loc,
    .container-info-card,
    .container-global-info,
    .container-fale,
    .card-info-cont {
        gap: 10px;
    }
    .img-modal {
        width: 50%;
        height: 40%;
    }

    .imagem-barba,
    .box-imagem,
    .imagem-box,
    .imagem-box2,
    .imagem-box3,
    .imagem-box4 {
        width: 100%;
        height: auto;
    }

    .title-service-custom {
        font-size: 16px;
    }

    .titulo-inicial {
        font-size: 24px;
    }

    .paragrafo-grande {
        width: 100%;
    }

    .container-fale,
    .card-info-cont {
        font-size: 12px;
    }

    #precos,
    #sobre,
    #galeria,
    #localizacao,
    #info {
        padding: 10px;
        height: auto;
    }

    .btn-whatsapp {
        bottom: 5px;
        right: 5px;
    }

    .btn-whatsapp img {
        max-width: 30px;
    }

    footer {
        height: 40px;
    }

    .footer-name {
        font-size: 10px;
    }

    .container-imagem {
        gap: 30px;
        display: flex;
        flex-direction: column;
    }
}



.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.hamburger {
    display: none;
    border: none;
    background: none;

    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 788px) {
    .hamburger {
        display: block;
        z-index: 1;
    }
   
    

    .title-barber {
        width: 100vw;
        font-size: 45px;


    }

    main {
        padding: 5px;
        margin: 0;

    }

    .modal-dialog {
        width: 10px;
        margin: 1rem;
    }

    .modal-content {
        display: block;
    }

    .modal-content img {
        border-radius: 0.2rem;
        width: 300px;
    }

    .paragrafo-barber {
        font-size: 33px;
    }

    .paragrafo1-barber {
        font-size: 18px;
    }

    .saiba-mais {
        height: 50px;
    }

    #sobre {
        padding: 20px;
    }


    #precos {
        padding: 30px;
    }

    #localizacao {
        padding: 20px;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(29, 29, 29);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        border-bottom: 1px solid white;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        pointer-events: none;
    }

    .btn-cntt {
        width: 300px;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}





.image-strip {
    overflow: hidden;
    /* Oculta a parte das imagens que está fora da faixa visível */
    position: relative;
    /* Garante que o container seja o ponto de referência para a animação */
    height: 120px;
    /* Ajuste a altura da faixa conforme necessário */
}

.image-strip-inner {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll 100s linear infinite;
    /* Define a animação de rolagem contínua */
}

.image-strip img {
    height: 100%;
    /* Ajusta a altura das imagens para se ajustar à faixa */
    margin: 0 10px;
    /* Espaçamento entre as imagens */
    object-fit: cover;
    /* Ajusta a imagem para cobrir a área sem distorção */
}

/* Animação de Rolagem */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        /* Move a faixa de imagens para a esquerda */
    }
}

/* Responsivo para dispositivos móveis */
@media (max-width: 768px) {
    .image-strip {
        height: 100px;
        /* Ajusta a altura da faixa em telas menores */
    }

    .image-strip img {
        height: 100px;
        /* Reduz a altura das imagens em telas menores */
    }

    
}


.img-modal {
    width: 20%;
    height: 35%;
}


.disabled-total {
    pointer-events: none;
    opacity: 0.7;

}

.page-modal {
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.container-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.modal-disabled {
    display: none;
}


#myModal {
    padding: 50px;
}


.modal-3 {
    display: block;
    /* Show by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */

    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: unset;
    /* Enable scroll if needed */
    background-color: rgba(29, 29, 29, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;



}


/* Modal Content/Box */
.modal-content-2 {
    background-color: #ffffff;
    border-radius: 3px;
    height: 60%;
    padding: 20px;
    border: none;
    display: flex;
    flex-direction: column;



    z-index: 1001;
    /* Sit on top of the modal background */
}

/* The Close Button */
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.div-avali {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.div-avaliar {
  
}

.div-tarde {
  
   
}

.tarde-btn{
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    background-color: black;
    border: none;
    height: 5vh !important;
    text-align: center;
    align-items: center;
display: flex;
justify-content: center;
    width: 20vw;
    border-radius: 5px;
    cursor: pointer;
}

.avaliar-btn {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    height: 5vh !important;
    text-align: center;
    align-items: center;
display: flex;
justify-content: center;
    width: 20vw;
    border: 2px solid yellow;
    border-radius: 5px;

}


.tittle-avali {
  font-size: 19px; font-weight: 600;
}



/* 
----------------------- */

#avaliacoes {
    padding: 20px;
 height: 90vh;
 background: linear-gradient(60deg, #ffffff, #e6e6e6);
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 text-align: center;
}


/* Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    height: 100vh;
  }
  
  /* Wrapper */
  .wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

  }
  
  /* Carousel */
  .carousel {
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .img-ccard{
    width: 10vw;
  }
  
  .carousel__item {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 12px;
    opacity: 0;
    filter: drop-shadow(0 2px 2px #555);
    will-change: transform, opacity;
    animation: carousel-animate-vertical 27s linear infinite;
  }
  
  .carousel__item:nth-child(1) {
    animation-delay: calc(27s / 9 * (1 - 2));
  }
  
  .carousel__item:nth-child(2) {
    animation-delay: calc(27s / 9 * (2 - 2));
  }
  
  .carousel__item:nth-child(3) {
    animation-delay: calc(27s / 9 * (3 - 2));
  }
  
  .carousel__item:nth-child(4) {
    animation-delay: calc(27s / 9 * (4 - 2));
  }
  
  .carousel__item:nth-child(5) {
    animation-delay: calc(27s / 9 * (5 - 2));
  }
  
  .carousel__item:nth-child(6) {
    animation-delay: calc(27s / 9 * (6 - 2));
  }
  
  .carousel__item:nth-child(7) {
    animation-delay: calc(27s / 9 * (7 - 2));
  }
  
  .carousel__item:nth-child(8) {
    animation-delay: calc(27s / 9 * (8 - 2));
  }
  
  .carousel__item:nth-child(9) {
    animation-delay: calc(-27s / 9 * 2);
  }
  
  /* Item Head */
  .carousel__item-head {
    border-radius: 50%;
    background-color: #ffffff;
    width: 90px;
    height: 90px;
    padding: 14px;
    position: relative;
    margin-right: -45px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
  
  /* Item Body */
  .carousel__item-body {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 20px 16px 70px;
  }
  
  .title {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
  }
  
  /* Keyframes */
  @keyframes carousel-animate-vertical {
    0% {
      transform: translateY(100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
    11.1111%, 11.1111% {
      transform: translateY(100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    22.2222%, 22.2222% {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
    33.3333%, 33.3333% {
      transform: translateY(-100%) scale(0.7);
      opacity: 0.4;
      visibility: visible;
    }
    44.4444% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: visible;
    }
    100% {
      transform: translateY(-100%) scale(0.5);
      opacity: 0;
      visibility: hidden;
    }
  }